@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

:root{
    --color1: #D5966C;
    --color2: #151515;
    --color3: #444444;
    --color4: #FFFFFF;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height:100vh;
}

body{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

img {width: 100%;height: 100%;}

h1, h2{
    text-transform: uppercase;
    font-weight: 900;    
}

h1{
    font-size: 60px;
    line-height: 55px;
}

h2{
   font-weight: 900;
    font-size: 50px;
    line-height: 45px; 
}
p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
/* Hero */
.hero-text {padding: 0 16px 126px;}

.button {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: white;
    background: var(--color2);
    padding: 24px 32px;
    max-width: 250px;
    position: relative;
    cursor: pointer;
}
span {
    background: var(--color1);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    font-family: monospace;
}

/* Gallery */
.gallery{padding: 16px}
.gallery-img-content img{padding: 16px 0;}


/*inspired*/
.inspired {color: white;}

/* Footer */
footer {padding: 30px;color: white;background: black;}

footer p {padding: 0 0 30px;}

.redes {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

@media (min-width: 650px) {
    h1 {
        font-size: 70px;
        line-height: 65px;
    }
    
    p {
        font-size: 18px;
        line-height: 28px;
    }
    
    .button {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.63636px;
    }
    
    h2 {
        font-size: 50px;
        line-height: 45px;
    }

    /* Hero */
    .hero {
        display: flex;
        position: relative;
        height: 700px;
        z-index: 1;
        padding-bottom: 120px;
    }
    .hero picture {position: absolute;height: 700px;width: 430px;overflow: hidden;}

    .hero picture img {
        width: 100%;
        height: 100%;
    }
    
    .hero-text {
        z-index: 2;
        width: 410px;
        align-self: center;
        position: absolute;
        right: 0;
    }
    
    .hero p {padding: 0px 0 40px;}

    /* Gallery */
    .gallery{padding: 38px;}
    
    .gallery-content {
        display: flex;
        gap: 68px;
        padding-bottom: 11px;
        justify-content: space-between;
    }
    
    .gallery-content picture {order: 2;}
    
    .gallery-content-text {
        order: 1;
        max-width: 230px;
    }

    /* Grid */
    .gallery-img-content {
        display: grid;
        grid-template-areas:
            "G F"
            "G C";
        gap: 11px;
    }
    .gallery-img-content img{padding: unset}
    .grid-img-1 {grid-area: G;}
    .grid-img-2 {grid-area: F;}
    
    
    .inspired {
        grid-area: C;
        background: black;
        padding: 29px;
    }
    
    .inspired h2, .inspired p {width: 220px;}

    /* Footer */
    footer {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    
    footer h3 {width: 110px;}
    
    footer p {width: 280px;}
}