@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;900&display=swap');

:root{
    --color1: #D5966C;
    --color2: #151515;
    --color3: #444444;
    --color4: #FFFFFF;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height:100vh;
}

body{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

img {width: 100%;}

h1, h2{
    text-transform: uppercase;
    font-weight: 900;    
}

h1{
    font-size: 60px;
    line-height: 55px;
}

h2{
   font-weight: 900;
    font-size: 50px;
    line-height: 45px; 
}

.gallery{padding: 16px}